@charset "UTF-8";

:root {
    --cor0: #a686247c;
    --cor1: #BFBFBD;
    --cor2: #d95204c2;
    --cor3: #8C5230;
    --cor4: #403131;

    --fonte-titulo: "Modern Antiqua", serif;
    --fonte-conteiner: "Sevillana", cursive;
    --fonte-paragrafo: "Merienda", cursive;
}

/*
Pequenas Telas: até 600px;

Celular: De 600px até 768;

Tablet: de 768 a 992px;

Desktop: de 992 a 1200 px;

Grandes Telas: Acima de 1200px;
*/

@media screen and (min-width: 600px) and (max-width: 768px) {

    body {
        background-image: url(../imagens/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    main {
        max-width: 500px;
    }

    header .navigation {
        height: 460px;
    }

    header h1 {
        font-size: 2.7em;
    }

    .map {
        margin: 30px auto;
    }

    .box1 > p {
        max-width: 330px;
        margin-top: 10px;
        font-size: 26px;
        height: 150px;
    }

    .box1 > .imagens > .pessoas {
        height: 520px;
        width: 460px;
        background-image: url(../imagens/pessoas03.jpg);
    }

    section > article.txt > p {
        max-width: 400px;
    }

    .produtos {
        height: 880px;
        background-color: rgb(51, 35, 13);
    }

    .produtos > div.prod1, .prod2, .prod3 {
        width: 310px; 
        height: 250px;
    }

    .contact {
        margin: 0px -20px 25px -20px;
        height: 820px;

    }

    section#imag {
        height: 900px;
    }

    #imag > .conteiner {
        width: 300px;
        height: 820px;
    }

    .foto {
        margin: 30px auto;
        padding: 30px;
    }

    #imag p {
        margin: 80px;
    }

    .foto1 {
        margin: 30px auto;
        padding: 30px;
    }

    .box2 {
        padding: 40px;
        margin: 5px;
    }

    .box2 h2 {
        padding-left: 20px;
    }

    .info h3 {
        padding-bottom: 20px;
        font-size: 1.3em;
        text-align: center;
        text-decoration: underline;
    }

    .info ul {
        padding: 12px;
        max-width: 310px;
        background-color: rgba(19, 19, 19, 0.445);
        margin: 8px auto 0px auto;
    }

    .map {
        height: 170px;
    }

    #opiniao > .quad > div.opi {
        width: 340px;
    }

    section.texto > p {
        font-size: 20px;
        margin: 0px 50px 21px auto;
        padding: 75px 40px 10px 0px;
    }

    section.texto-seg > p {
        font-size: 20px;
        margin: 0px auto 31px 54px;
        padding: 75px 15px 10px 2px;
    }

    section.novidade h2 {
        font-size: 1.7em;
    }

    section.novidade p {
        padding: 8px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/background01.jpg);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    main {
        max-width: 600px;
    }

    header h1 {
        font-size: 3em;
        max-width: 480px;
        bottom: 467px;
    }

    .box1 p {
        max-width: 340px;
        background-color: rgba(105, 75, 0, 0.308);
        color: rgba(255, 255, 255, 0.733);
        margin: -15px auto -12px auto;
        padding-left: 90px;
        padding-right: 90px;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    .box1 > .imagens > div.pessoas {
        width: 456px;
        height: 500px;
        background-image: url(../imagens/pessoas04.jpg);
        background-position: left bottom;
    }

    section > article.txt > p {
        max-width: 320px;
        font-size: 1.5em;
        text-shadow: 6px 1px 8px rgba(245, 222, 179, 0.185);
        margin: 0px auto 0px auto;
    }

    section.produtos {
        box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.411);
        height: 1150px;
    }

    .produtos > div.prod1, .prod2, .prod3 {
        width: 410px;
        height: 340px;
    }

    .produtos > div.prod1, .prod2, .prod3 > p {
        font-size: 20px;
        margin-top: 10px;
    }

    .prod1 > .prod-fot, .prod2 > .prod-fot1, .prod3 > .prod-fot2 {
        margin-top: 40px;
        height: 180px;
        width: 180px;
    }

    div.conteiner {
        width: 350px;
    }

    div.foto {
        margin: auto;
    }

    div.foto1 {
        margin: auto;
    }

    .contact {
        height: 800px;
    }

    .contact > .box2 > h2 {
        padding-right: 70px;
    }

    .contact > .info > h3 {
        text-align: center;
        font-size: 1.4em;
        color: goldenrod;
        text-shadow: 3px 1px 4px rgba(218, 165, 32, 0.26);
    }

    .contact > .info > ul {
        max-width: 350px;
        margin: 30px auto 30px auto;
        padding: 20px;
    }

    section#opiniao {
        height: 1040px;
    }

    #opiniao > .quad > div.opi {
        width: 400px;
        height: 280px;
    }

    #opiniao > .quad > div.opi > p {
        max-width: 190px;
        font-size: 1.2em;
        text-align: center;
        margin: auto;
    }

    section.texto > p {
        font-size: 1.5em;
        max-width: 230px;
        margin-right: 30px;
    }

    section.texto-seg > p {
        font-size: 1.5em;
        max-width: 240px;
        margin-left: 30px;
    }

    section.novidade {
        height: 850px;
    }

    section.novidade h2 {
        font-size: 26px;
        max-width: 360px;
    }

    section.novidade p {
        margin: 30px;
    }

    section.novidade > div.caixa {
        padding: 40px;
    }

    section.novidade > div.caixa > p {
        text-align: center;
        background-color: #e2b24b2f;
        border-radius: 10px;
        padding: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: url(../imagens/background03.jpg);
        background-position: center right;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    main {
        max-width: 710px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/background04.jpg);
        background-position: center left;
        background-size: cover;
        background-attachment: fixed;
    }
    main {
        max-width: 1000px;
    }

    header h1 {
        font-size: 3em;
        max-width: 480px;
        bottom: 467px;
    }

    article.box1 {
        height: 870px;
    }

    .box1 > p{
        max-width: 260px;
        font-weight: bolder;
    }

    .box1 > .imagens > .pessoas {
        width: 450px;
        height: 530px;
    }

    section > article.txt > p {
        max-width: 360px;
        text-decoration: 1px overline;
        color: var(--cor3);
        text-shadow: 3px solid var(--cor3);
    }
    
    section.produtos {
       height: 1050px;
    }

    section.produtos > .prod1, .prod2, .prod3 {
        height: 300px;
        width: 350px;
        background-color: #e2b73550;
        border: none;
        box-shadow: 3px 1px 2px solid rgba(39, 39, 39, 0.199);
    }

    div.conteiner {
        width: 390px;
    }

    div.conteiner p {
        max-width: 340px;
        margin: auto;
        position: relative;
        top: 20%;
    }

    div.foto {
        margin: auto;
        max-width: 360px;
    }

    div.foto1 {
        margin: auto;
        max-width: 360px;
    }

    section.contact > .box2 > h2 {
        margin-right: 20px;
        font-size: 2em;
    }

    section.contact > div.info > h3 {
        font-size: 1.3em;
        text-align: center;
    }

    section.contact > div.info > ul {
        max-width: 540px;
        padding: 15px;
        margin: 10px auto;
    }

    section.contact > div.info > ul > ol {
        text-align: center;
    }

    section.contact > div.info > div.map {
        max-width: 500px;
    }

    section#opiniao {
        height: 950px;
    }

    section#opiniao > .quad > .opi {
        width: 350px;
        height: 270px;
    }

    section#opiniao > .quad > .opi > h3 {
        text-align: center;
        font-size: 1.7em;
    }

    section#opiniao > .quad > .opi > p {
        max-width: 250px;
        margin: auto;
        font-size: 1.2em;
        text-align: center;
    }

    section.texto p {
        font-size: 1.5em;
        max-width: 400px;
        margin-right: 10px;
    }

    section.texto-seg > p {
        max-width: 400px;
        font-size: 1.4em
    }

    section.novidade h2 {
        max-width: 500px;
        text-align: center;
        margin: auto;
    }

    section.novidade p {
        text-align: center;
        margin: auto;

    }

    div.caixa {
        max-width: 550px;
        margin: auto;
        
    }
}