@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #a686247c;
    --cor1: #BFBFBD;
    --cor2: #d95204c2;
    --cor3: #8C5230;
    --cor4: #403131;

    --fonte-titulo: "Modern Antiqua", serif;
    --fonte-conteiner: "Sevillana", cursive;
    --fonte-paragrafo: "Merienda", cursive;
}

body {
    background-image: url(../imagens/restaurante01.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 420px;
    background-color: #d95204a8;
    padding: 20px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.26);
}

header h1 {
    text-align: center;
    width: 220px;
    margin: auto;
    color: white;
    margin-top: 10px;
    font-family: var(--fonte-titulo);
    font-size: 2.4em;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.486);
}

span#burguer {
    color: wheat;
    cursor: pointer;
    padding: 0px 6px 0px 12px;
}

span#burguer:hover {
    color: rgb(112, 54, 0);
}

header > nav {
    margin-top: 10px;
    display: flex;
    background-color: #bfbfbd1f;
    padding: 12px;
    border-radius: 20px;
    max-width: 180px;
}

header > nav > ul > li {
    list-style-type: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 26px;
}

header > nav > ul > li > a {
    background-color: #8C5230;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-right: 3px solid black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

header > nav > ul > li > a:hover {
    background-color: var(--cor4);
    border-right: 3px solid red;
    transition-duration: 0.8s;
    padding: 12px 27px 12px 5px;
    color: yellow;
}

main {
    background-color: white;
    max-width: 380px;
    margin: auto auto -10px auto;
    padding: 20px 20px 0px 20px;
}

main p {
    padding-top: 12px;
    padding-bottom: 10px;
}

article.box1 {
    height: 730px;
    background-color: rgba(240, 192, 130, 0.87);
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.171);
}

.box1 > p {
    font-family: var(--fonte-conteiner);
    text-align: center;
    max-width: 200px;
    margin: auto;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.678);
}

.box1 > .imagens {
    display: flex;
    flex-flow: column wrap;
}

.box1 > .imagens > .pessoas {
    background-image: url(../imagens/pessoas01.jpg);
    width: 350px;
    height: 430px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.397);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    margin: 30px auto 35px auto;
    border-radius: 10%;
}

section > article.txt {
    height: 430px;
    background-color: black;
    color: wheat;
    margin: -14px -20px -12px -20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

section > article.txt > p {
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-conteiner);
    max-width: 220px;
    margin: auto;
   
    
}

.produtos {
    background-color: var(--cor4);
    height: 810px;
    margin: 12px -20px 0px -20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.363);
}

.prod1, .prod2, .prod3 {
    background-color: black;
    border-radius: 8%;
    color: white;
    text-align: center;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.404);
}

.prod1 > .prod-fot {
    background-image: url(../imagens/prato-circ001.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod2 > .prod-fot1 {
    background-image: url(../imagens/prato-circ002.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod3 > .prod-fot2 {
    background-image: url(../imagens/prato-circ003.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod1 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.prod2 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
    margin-bottom: 15px;
}

.prod3 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
}


section#imag {
    margin-left: -20px;
    margin-right: -20px;

    background-image: url(../imagens/pessoas02.jpg);
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 600px;
    box-shadow: inset 3px 1px 2px rgba(0, 0, 0, 0.363);
}

div.conteiner {
    width: 160px;
    height: 520px;
    background-color: #8c5230d5;
    color: white;
    margin: auto;
    padding: 40px;
}

div#txt {
    margin: auto;
    height: 173px;
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-conteiner);
}

div.foto {
    width: 160px;
    height: 173px;
    background-image: url(../imagens/restaurante.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

div.foto1 {
    height: 173px;
    width: 160px;
    background-image: url(../imagens/restaurante-icone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.contact {
    height: 670px;
    border: 1px solid black;
    background-color: black;
    color: wheat;
    
    margin: 0px -20px 10px -20px;
    padding: 22px;
}

.box2 {
    display: flex;
    color: yellow;
}

.info {
    margin: 20px;
    font-size: 18px;
    color: rgb(190, 158, 98);
}

.info > ul {
    background-color: rgba(44, 44, 44, 0.575);
    margin: 12px;
    padding: 8px;
    border-radius: 7px;
}

.info > ul > ol > a {
    color: wheat;
    text-decoration: none;
}

.info > ul > ol > a:hover {
    color: burlywood;
}

div.map {
    margin: 20px auto 20px auto;
}

section#opiniao {
    height: 750px;
}

#opiniao {
    background-image: url(../imagens/restaurantes02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: -25px -20px 0px -20px;
    padding: 10px;
}

#opiniao > .quad > div.opi {
    width: 260px;
    height: 200px;
    margin: 25px auto 0px auto;
    border-radius: 22px;
    background-color: #61351ea9;
    box-shadow: 3px 2px 4px #00000049;
    padding: 6px;
}

#opiniao > .quad > .opi > .aspa > img {
    position: relative;
    left: 40%;
}



#opiniao > .quad > div.opi > h3 {
    color: goldenrod;
    text-align: right;
    padding: 12px;
}

#opiniao > .quad > div.opi > p {
    padding: 10px;
    color: wheat;
    text-align: justify;
    text-indent: 10px;
}

section.texto {
    background-color: var(--cor3);
    color: wheat;
    margin: 0px -20px 0px -20px;
    height: 300px;
}

section.texto > p {
    max-width: 210px;
    margin: 0px 15px 15px auto;
    padding: 75px 15px 10px 0px;
    text-align: end;
    font-size: 18px;
    font-family: var(--fonte-titulo);
}

section.texto-seg {
    background-color: burlywood;
    color: rgb(78, 51, 0);
    margin: 0px -20px 0px -20px;
    height: 300px;
}

section.texto-seg > p {
    max-width: 210px;
    margin: 0px auto 15px 25px;
    padding: 75px 15px 10px 0px;
    font-size: 18px;
    font-family: var(--fonte-titulo);
}

section#imag-dois {
    height: 620px;
    margin: 0px -20px 0px -20px;
    background-image: url(../imagens/restaurante03-800x1067.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.novidade {
    height: 550px;
    margin: 0px -20px 0px -20px;
    padding: 18px;
    box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.226);
    background-color: var(--cor0);
}

section.novidade h2 {
    color: rgba(73, 73, 0, 0.733);
    max-width: 290px;
    text-align: center;
    text-decoration: 1px wavy underline rgba(54, 58, 0, 0.466);
    font-family: var(--fonte-titulo);
    margin-bottom: 10px;
}

.novidade p {
    font-family: var(--fonte-paragrafo);
    text-align: justify;
    padding: 10px;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.274);
    
}

.novidade label {
    margin-bottom: 60px;
    color: rgb(155, 101, 0);
}

.caixa {
    background-color: rgba(192, 138, 0, 0.103);
    border-radius: 18px;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.116);
    padding: 10px;
}

.novidade input.campo {
    margin: 10px;
    padding: 10px;
    width: 270px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.336);
    border-radius: 12px;
    border: 0px solid black;
}

.novidade input.confirm {
    display: flex;
    padding: 10px;
    border-radius: 12px;
    border: 0px solid black;
    margin: auto;
    font-family: var(--fonte-titulo);
}

.novidade input.confirm:hover {
    border: 3px solid black;
    cursor: pointer;
}

.novidade input.campo:hover {
    border: 3px solid rgb(255, 161, 53);
}



footer {
    background-color: var(--cor0);
    margin: 11px auto 0px auto;
    padding: 20px;
}

footer p {
    color: wheat;
    text-align: center;
}

footer p:hover {
    color: blue;
    cursor: pointer;
}