@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #a686247c;
    --cor1: #BFBFBD;
    --cor2: #d95204c2;
    --cor3: #8C5230;
    --cor4: #403131;

    --fonte-titulo: "Modern Antiqua", serif;
    --fonte-conteiner: "Sevillana", cursive;
}

body {
    background-image: url(../imagens/restaurante01.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 420px;
    background-color: #d95204a8;
    padding: 20px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.26);
}

header h1 {
    text-align: center;
    width: 220px;
    margin: auto;
    color: white;
    margin-top: 10px;
    font-family: var(--fonte-titulo);
    font-size: 2.4em;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.486);
}

header > nav {
    margin-top: 20px;
    display: flex;
    background-color: #bfbfbd1f;
    flex-flow: row wrap;
    justify-content: end;
    padding: 12px;
    border-radius: 20px;
}

header > nav > ul > li {
    list-style-type: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 26px;
}

header > nav > ul > li > a {
    background-color: #8C5230;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-right: 3px solid black;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

header > nav > ul > li > a:hover {
    background-color: var(--cor4);
    border-right: 3px solid red;
}

main {
    background-color: white;
    max-width: 380px;
    margin: auto;
    padding: 20px;
}

main p {
    padding-top: 12px;
    padding-bottom: 10px;
}

article.box1 {
    height: 640px;
    background-color: rgba(240, 192, 130, 0.87);
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.171);
}

.box1 > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 200px;
    margin: auto;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.678);
}

.box1 > .imagens {
    display: flex;
    flex-flow: column wrap;
}

.box1 > .imagens > .pessoas {
    background-image: url(../imagens/pessoas01.jpg);
    width: 350px;
    height: 430px;
    border: 1px solid black;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.397);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    margin: 30px auto 35px auto;
}

section > article.txt {
    height: 430px;
    background-color: black;
    color: wheat;
    margin: -14px -20px -12px -20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

section > article.txt > p {
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-conteiner);
    max-width: 220px;
    margin: auto;
   
    
}

.produtos {
    background-color: var(--cor4);
    height: 810px;
    margin: 12px -20px 0px -20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.363);
}

.prod1, .prod2, .prod3 {
    background-color: black;
    border-radius: 8%;
    color: white;
    text-align: center;
}

.prod1 > .prod-fot {
    background-image: url(../imagens/prato-circ001.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod2 > .prod-fot1 {
    background-image: url(../imagens/prato-circ002.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod3 > .prod-fot2 {
    background-image: url(../imagens/prato-circ003.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod1 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.prod2 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
    margin-bottom: 15px;
}
.prod3 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
}


section#imag {
    margin-left: -20px;
    margin-right: -20px;

    background-image: url(../imagens/pessoas02.jpg);
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 600px;
    box-shadow: inset 3px 1px 2px rgba(0, 0, 0, 0.363);
}

div.conteiner {
    width: 160px;
    height: 520px;
    background-color: #8c5230d5;
    color: white;
    margin: auto;
    padding: 40px;
}

div#txt {
    margin: auto;
    height: 173px;
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-conteiner);
}

div.foto {
    width: 160px;
    height: 173px;
    background-image: url(../imagens/restaurante.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

div.foto1 {
    height: 173px;
    width: 160px;
    background-image: url(../imagens/restaurante-icone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.contact {
    height: 620px;
    border: 1px solid black;
    background-color: black;
    color: wheat;
    
    margin: 0px -20px 10px -20px;
    padding: 22px;
}

.box2 {
    display: flex;
    color: yellow;
}

.info {
    margin: 20px;
    font-size: 18px;
    color: rgb(190, 158, 98);
}

.info > ul {
    background-color: rgba(44, 44, 44, 0.575);
    margin: 12px;
    padding: 8px;
    border-radius: 7px;
}

.info > ul > ol > a {
    color: wheat;
    text-decoration: none;
}

.info > ul > ol > a:hover {
    color: burlywood;
}

div.map {
    margin: 20px auto 20px auto;
}



footer {
    max-width: 300px;
}