@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #a686247c;
    --cor1: #BFBFBD;
    --cor2: #d95204c2;
    --cor3: #8C5230;
    --cor4: #403131;

    --fonte-titulo: "Modern Antiqua", serif;
    --fonte-conteiner: "Sevillana", cursive;
}

body {
    background-image: url(../imagens/restaurante01.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 620px;
    background-color: #d95204a8;
    padding: 20px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.26);
}

header h1 {
    text-align: center;
    width: 220px;
    margin: auto;
    color: white;
    margin-top: 10px;
    font-family: var(--fonte-titulo);
    font-size: 2.4em;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.486);
}

header > nav {
    display: flex;
    background-color: var(--cor2);
    margin-left: -19px;
    margin-right: -19px;
    flex-flow: column wrap;
    position: relative;
    top: 20%;
}

header > nav > ul {
    max-width: 180px;
    justify-content: center;
    position: relative;
    margin-left: 240px;
}

header > nav > ul > li {
    list-style-type: none;
    margin: 12px 28px 15px 25px;
    padding: 12px 4px 12px 10px;
    text-align: end;
}

header > nav > ul > li > a {
    background-color: #fac655a1;
    padding: 9px 18px 12px 18px;
    margin: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    text-decoration: none;
    border-right: 3px solid rgb(165, 12, 12);
    color: black;
}

header > nav > ul > li > a:hover {
    background-color: #916a1680;
    border-right: 3px solid rgba(219, 7, 7, 0.548);
    padding-right: 25px;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    text-decoration: 1px underline solid black;
}

main {
    background-color: white;
    max-width: 380px;
    margin: auto;
    padding: 20px;
}

main p {
    padding-top: 12px;
    padding-bottom: 10px;
}

article.box1 {
    height: 960px;
    background-color: rgba(240, 192, 130, 0.87);
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.171);
}

.box1 > .imagens {
    display: flex;
    
    flex-flow: column wrap;
}

.box1 > .imagens > .pessoas {
    background-image: url();
    width: 300px;
    border: 1px solid black;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    margin: 30px auto 35px auto;
}

.box1 > .imagens > .pessoas1 {
    background-image: url();
    height: 380px;
    width: 300px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    margin: 30px auto 35px auto;
}

section > article.txt {
    height: 430px;
    background-color: black;
    color: wheat;
    margin: -14px -20px -12px -20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

section > article.txt > p {
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-conteiner);
    max-width: 220px;
    margin: auto;
   
    
}

.produtos {
    background-color: var(--cor4);
    height: 810px;
    margin: 12px -20px 0px -20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.prod1, .prod2, .prod3 {
    background-color: black;
    border-radius: 8%;
    color: white;
    text-align: center;
}

.prod1 > .prod-fot {
    background-image: url(../imagens/prato-circ001.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod2 > .prod-fot1 {
    background-image: url(../imagens/prato-circ002.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod3 > .prod-fot2 {
    background-image: url(../imagens/prato-circ003.png);
    width: 150px;
    height: 150px;
    margin: auto;
}

.prod1 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.prod2 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
    margin-bottom: 15px;
}
.prod3 {
    height: 230px;
    border: 1px solid black;
    width: 230px;
}


section#imag {
    margin-left: -20px;
    margin-right: -20px;

    background-image: url(../imagens/pessoas02.jpg);
    background-position: center center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 600px;
    box-shadow: inset 3px 1px 2px rgba(0, 0, 0, 0.363);
}

div.conteiner {
    width: 160px;
    height: 520px;
    background-color: #8c5230d5;
    color: white;
    margin: auto;
    padding: 40px;
}

div#txt {
    margin: auto;
    height: 173px;
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-conteiner);
}

div.foto {
    width: 160px;
    height: 173px;
    background-image: url(../imagens/restaurante.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

div.foto1 {
    height: 173px;
    width: 160px;
    background-image: url(../imagens/restaurante-icone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

footer {
    max-width: 300px;
}